.projectPageInfoContainer {
  width: 90%;
  margin: 24px auto;

  & > div {
    margin: 0 20px 36px 0;
  }
}

.projectTechnologiesContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  row-gap: 12px;
}

.projectPageBasicInfoContainer {
  width: 100%;
  display: flex;
  column-gap: 20px;

  .projectPageBasicInfoImageContainer {
    width: 500px;
    height: 500px;
    background-color: darkcyan;

    .projectPageBasicInfoImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}