@import '../../variables.module';

.userDashboardMainContainer {
  width: 90%;
  margin: 24px auto;

  & > div {
    margin: 0 0 36px 0;
  }

  h2 {
    margin: 0 0 18px 0;
  }

  .userDashboardBasicInfoContainer {
    width: 100%;
    overflow: hidden;
    border-radius: $border-radius-s;
    box-shadow: $box-shadow;
    transition: transform 0.25s ease-in-out;
    display: flex;

    &:hover {
      transform: scale(1.015);
      transition: transform 0.25s ease-in-out;
    }

    .userDashboardBasicInfoImageContainer {
      width: 300px;
      height: auto;
      min-width: 300px;
      
      .userDashboardImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .userDashboardBasicInfoContentContainer {
      padding: 36px;
      font-weight: 300;

      .userDashboardBasicInfoDisplayName {
        margin: 16px 0 4px 0;
        font-size: 20px;
      }

      .userDashboardBasicInfoEmail {
        margin: 0;
      }

      .userDashboardUserLinksContainer {
        margin: 82px 0 0 0;
  
        & > div {
          display: flex;
          flex-flow: row wrap;
          column-gap: 32px;
        }

        .userDashboardUserLinkIcon {
          width: 32px;
          height: 32px;
          transition:
            transform 0.25s ease-in-out,
            opacity 0.25s ease-in-out;

          &:hover {
            transform: translateY(-4px);
            opacity: 0.6;
            transition:
              transform 0.25s ease-in-out,
              opacity 0.25s ease-in-out;
          }
        }
      }
    }
  }
}  
