@import '../../../../../variables.module';

.threadHeadBody {
  font-family: $main-font;
  color: $black-100;
  border-radius: $border-radius-s;
  background: linear-gradient(to bottom, $background-rgba, $background-rgba)
      padding-box,
    $niidl-gradient-to-bottom border-box;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: $box-shadow;
  margin: 0 0 40px 0;

  .threadHeadContainer {
    padding: 48px 52px;
    width: 100%;

    .threadHeadTop {
      font-size: 1.2rem;
      padding: 8px 0;
    }

    .threadHeadMid {
      font-size: 1.2rem;
      padding: 8px 0;
      font-weight: 300;
      word-wrap: break-word;
    }

    .threadHeadBot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 24px;

      .threadHeadBotLeft {
        display: flex;
        align-items: center;

        img {
          border-radius: 50%;
          width: 60px;
          margin: 0 24px 0 0;
        }

        .postInfoContainer {
          h3 {
            padding: 8px 0;
            font-weight: 200;

            span {
              color: $niidl-scarlet;
              font-weight: 800;
            }
          }

          p {
            font-size: 0.9rem;
          }
        }
      }

      .threadHeadBotRight {
        display: flex;
        align-items: center;

        :not(:last-child):hover {
          cursor: pointer;
        }

        * {
          margin: 0 4px;
        }

        .edit {
          font-size: 1.8rem;
        }

        .trash {
          font-size: 1.8rem;
        }

        .upvoteButton {
          all: unset;
          font-size: 3.5rem;
          color: $foreground-rgba;
        }

        .upvoteButtonAfter {
          all: unset;
          font-size: 3.5rem;
          color: $niidl-scarlet;
        }

        .edit:hover {
          color: $niidl-scarlet
        }

        .trash:hover {
          color: $niidl-scarlet
        }

        .upvoteButton:hover {
          color: $niidl-scarlet
        }

        .upvoteButtonAfter:hover {
          color: $foreground-rgba
        }

        p {
          font-size: 1.5rem;
          text-align: center;
          margin: 0 0 16px 0;
          color: $niidl-scarlet;
        }
      }
    }
  }
}
