.threadBody {
  margin: 12px 96px;

  .backContainer {
    padding: 12px;
    align-items: center;

    h4 {
      font-weight: lighter;

      .arrowComponent {
        margin: 0 8px -2px 0;
      }
    }
  }
}
