@import './_variables.module';

.main {
  & > div:first-child {
    margin: 24px auto;
    width: 90%;

    & > button {
      margin: 0 0 36px 0;
      padding: 12px 24px;
    }
  }

  h1,
  h2 {
    margin: 0 0 18px 0;
  }

  .addOrSearchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .projectSearchbarContainer {
      width: 50%;
      position: relative;

      .projectSearchbarInput {
        width: 100%;
        height: 48px;
        font-size: 16px;
        padding: 0 48px 0 20px;
        border-radius: $border-radius-l;
        border: 2px solid #D9D9D9;
      }

      .projectSearchbarSearchBtn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 16px;
        position: absolute;
        top: 12px;
        right: 16px;
      }
    }

    .addProjectBtn {
      height: 48px;
      font-size: 16px;
      padding: 16px 32px;
      border-radius: $border-radius-s;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.searchbarAndGithubBtnContainer {
  width: 80%;
  display: flex;
  column-gap: 24px;
}

.projectCategoriesContainer {
  width: 100%;
  margin: 0 0 36px 0;
  display: flex;
  flex-flow: row wrap;
  row-gap: 12px;
}

.filteredProjectsContainer {
  width: 100%;
  margin: 36px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 36px;
}
