@import '../app/variables.module';

.projectInstanceContainer {
  width: 100%;
  height: 388px;
  border-radius: $border-radius-s;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.5rem;
  box-shadow: $box-shadow;
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
  animation: fadein 1s ease-in-out;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.02) rotate(-0.5deg);
    transition: transform 0.25s ease-in-out;
  }
}

.projectInstanceImageContainer {
  width: 100%;
  height: 248px;

  .projectInstanceImage  {
    width: 100%;
    height: 100%;
    background-color: rgba(159, 149, 198, 1);
  }
}

.projectInstanceInfoContainer {
  width: 100%;
  height: auto;
  background-color: $white-100;
  color: $black-100;
  padding: 32px;
  overflow-x: clip;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 12px;

  .projectInstanceInfoTagContainer {
    width: 100%;
    height: 34px;
    overflow: clip;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;

    .projectInstanceInfoTag {
      color: $niidl-scarlet;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.5px;
      padding: 8px 12px;
      border: 1px solid $niidl-scarlet;
      border-radius: $border-radius-l;
    }
  }

  .projectInstanceInfoTitle {
    color: $niidl-indigo;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 24px;
  }
}

@keyframes fadein {
  from {
    transform: translateY(36px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}