@import '../app/variables.module';

.projectCategoryInstance {
  margin: 0 24px 0 0;
  padding: 12px;
  border: 2px solid transparent;
  background: 
    linear-gradient(to bottom, $background-rgba, $background-rgba) padding-box,
    $niidl-gradient-to-bottom border-box;
  color: $foreground-rgba;
  border-radius: 32px;
  cursor: pointer;

  &:hover {
    background: 
      $niidl-gradient-to-bottom padding-box,
      $niidl-gradient-to-bottom border-box;
    color: $white-100;
    box-shadow: $box-shadow;
    transition:
      box-shadow 0.15s ease-in-out;
  }
}

.selectedInstance {
  background: 
    linear-gradient(to bottom, $niidl-scarlet, $niidl-indigo) border-box;
  color: $white-100;
}
