$main-project-instance-color: rgb(22, 104, 104);
$main-project-instance-color-transp10: rgba(22, 104, 104, 0.1);
$main-project-instance-color-transp90: rgba(22, 104, 104, 0.9);

.projectCategoryInstance {
  margin: 0 24px 0 0;
  padding: 12px;
  border: 2px solid $main-project-instance-color;
  color: $main-project-instance-color;
  border-radius: 32px;

  &:hover {
    background-color: $main-project-instance-color-transp10;
  }
}

.selectedInstance {
  background-color: $main-project-instance-color;
  color: #FFFFFF;

  &:hover {
    background-color: $main-project-instance-color-transp90;
  }
}
