@import '../../../../variables.module';

.discussionsContainer {
  width: 100%;
  max-height: 400px;
  border-radius: $border-radius-s;
  box-shadow: $box-shadow;

  .discussionsTabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 24px 28px 4px;

    .discussionsTags {
      display: flex;
      align-items: center;
      height: 100%;
      width: 70%;

      .defaultButton {
        margin: 0 12px 0 0;
        padding: 8px 16px;
        border: 2px solid transparent;
        background: linear-gradient(
              to bottom,
              $background-rgba,
              $background-rgba
            )
            padding-box,
          $niidl-gradient-to-bottom border-box;
        color: $foreground-rgba;
        border-radius: $border-radius-l;
        cursor: pointer;
        font-weight: 900;

        &:hover {
          background: $niidl-gradient-to-bottom padding-box,
            $niidl-gradient-to-bottom border-box;
          color: $white-100;
          box-shadow: $box-shadow;
          transition: background 2s ease-in-out;
        }
      }

      .currentTab {
        margin: 0 12px 0 0;
        padding: 12px 18px;
        border: 2px solid transparent;
        background: $niidl-gradient-to-bottom padding-box,
          $niidl-gradient-to-bottom border-box;
        color: $white-100;
        border-radius: $border-radius-l;
        font-weight: 900;
      }
    }

    .addThreadContainer {
      display: flex;
      height: 100%;

      .addThreadBtn {
        all: unset;
        padding: 12px;
        border: 1px solid $foreground-rgba;
        color: $black-100;
        border-radius: $border-radius-l;
        cursor: pointer;

        &:hover {
          color: $niidl-scarlet;
          border: 1px solid $niidl-scarlet;
          box-shadow: #f1f1f1 2px 2px;
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }

  .instancesContainer {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    padding: 0 12px;
  }

  .discussionsMessageInstance {
    width: calc(100% - 24px);
    height: 64px;
    border: 2px solid transparent;
    border-radius: 16px;
    box-shadow: $box-shadow;
    margin: 16px auto 0 auto;
    padding: 36px 24px;
    transition: transform 0.25s ease-in-out, border 0.25s ease-in-out;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    &:hover {
      border: 2px solid $niidl-scarlet;
      transform: scale(1.02);
      transition: transform 0.25s ease-in-out, border 0.25s ease-in-out;
    }
  }
}

.discussionsMessageInstance {
  .upvoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 5%;

    .upvoteButton {
      all: unset;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        color: $niidl-scarlet;
      }
    }

    .upvoteButtonAfter {
      all: unset;
      font-size: 1.5rem;
      color: $niidl-scarlet;
      cursor: pointer;

      &:hover {
        color: $foreground-rgba;
      }
    }

    p {
      font-size: 12px;
    }
  }

  .instanceMessageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 95%;

    .discussionInstanceContent {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      margin: 0 0 0 12px;

      .discussionInstanceTitle {
        font-weight: 600;
        color: $niidl-indigo;
      }
      .discussionInstanceUser {
        font-weight: 300;
        font-size: 0.8rem;
      }
    }

    .discussionMessageInstanceRight {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;

      .pinContainer {
        font-size: 1.4rem;
        color: $niidl-scarlet;
      }

      .timeContainer {
        font-size: 0.8rem;
        font-weight: 300;
      }
    }
  }
}

// .discussionsContainer {
//   width: 100%;
//   max-height: 400px;
//   border: 2px solid $foreground-table-border-rgba;
//   border-radius: 16px;
//   display: flex;
//   flex-flow: column nowrap;
//   align-items: center;
//
//   .instancesContainer {
//     width: 100%;
//     overflow-y: scroll;
//     display: flex;
//     flex-flow: column nowrap;
//     align-items: center;
//   }
//
//   & > .discussionsMessageInstance:first-child {
//     margin: 12px 0;
//   }
//
//   .discussionsMessageInstance {
//     width: calc(100% - 24px);
//     min-height: 100px;
//     border: 2px solid $main-discussion-instance-border-color;
//     border-radius: 16px;
//     margin: 0 0 12px 0;
//     display: flex;
//     align-items: center;
//     overflow: hidden;
//     .upvoteContainer {
//       height: 100px;
//       width: 8%;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//
//       .upvoteButton {
//         border: none;
//         padding: 5px;
//         font-size: 1.1rem;
//         border-radius: 3px;
//       }
//
//       .upvoteButton:hover {
//         cursor: pointer;
//       }
//
//       .upvoteButtonAfter {
//         border: none;
//         padding: 5px;
//         font-size: 1.1rem;
//         color: green;
//       }
//
//       .upvoteButtonAfter:hover {
//         cursor: pointer;
//       }
//     }
//   }
//
//   .instanceMessageContainer {
//     height: 100%;
//     padding: 20px 10px;
//     display: flex;
//     flex-direction: column;
//
//     .discussionMessageInstanceTitle {
//       margin: 12px 0 0 0;
//       font-weight: 600;
//       color: $main-discussion-instance-title-color;
//       display: flex;
//       align-items: center;
//     }
//
//     .discussionMessageInstanceBottom {
//       margin: 12px 0 0 0;
//       padding: 5px;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//     }
//   }
// }
//
// .discussionsTabs {
//   margin-bottom: 1rem;
//   border-bottom: 1px solid $main-discussion-instance-border-color;
//   width: 100%;
//
//   .ulContainer {
//     display: flex;
//     flex-wrap: wrap;
//     margin-bottom: -1px;
//     font-size: 0.875rem;
//     font-weight: 500;
//     text-align: center;
//     list-style-type: none;
//
//     .liContainer {
//       margin-right: 0.5rem;
//
//       .buttonContainer {
//         padding: 0.5rem;
//         border-bottom-width: 1px;
//         border-bottom-style: solid;
//         border-bottom-color: $main-discussion-instance-border-color;
//         border-top-left-radius: 0.5rem;
//         border-top-right-radius: 0.5rem;
//       }
//
//       .btnContainer {
//         padding: 0.5rem;
//         border-bottom-width: 1px;
//         border-bottom-style: solid;
//         border-bottom-color: transparent;
//         border-top-left-radius: 0.5rem;
//         border-top-right-radius: 0.5rem;
//         transition: border-color 0.2s ease-in-out, color 0.15s ease-in-out;
//       }
//
//       .buttonContainer:hover {
//         color: $main-discussion-instance-border-color;
//         border-bottom-color: $main-discussion-instance-border-color;
//         cursor: pointer;
//         transition: 0.2s ease-in-out, color 0.15s ease-in-out;
//       }
//     }
//   }
// }
//
// .addThreadBtn {
//   margin: 0 0 24px 0;
//   padding: 12px 24px;
// }
