@import '../../../../variables.module';

.newDiscussionModalBackground {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(192, 192, 192, 0.4);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;

  & > .newDiscussionModalContent {
    width: 600px;
    height: auto;
    position: relative;
    background-color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-s;
    color: $niidl-indigo;

    & > .newDiscussionModalCloseBtn {
      font-size: 1.5rem;
      cursor: pointer;
      align-self: flex-end;
    }

    .newDiscussionModalCloseBtn:hover {
      color: $niidl-scarlet;
    }

    & > h2 {
      margin: 0 0 6px 0;
    }
    .newThreadContainer {
      margin: 20px 0px;

      .formContainer {
        margin: 20px 0px;
        display: flex;
        flex-direction: column;

        label {
          margin: 0 0 16px 0;
          letter-spacing: 2px;
          color: $foreground-rgba;
          text-transform: uppercase;
          align-self: start;
        }

        .threadTitle {
          all: unset;
          margin: 12px 0;
          border-bottom: 1px solid $foreground-rgba;
          color: $foreground-rgba;
          width: 100%;
        }

        .threadTitle:focus {
          border-bottom: 1px solid $niidl-scarlet;
        }

        input {
          width: 100%;
          height: 32px;
          padding: 8px;
          display: block;
        }

        .textArea {
          all: unset;
          margin: 0 0 12px 0;
          color: $black-100;
          border-radius: $border-radius-s;
          padding: 20px;
          border: 2px solid #d4d4d4;
          resize: vertical;
          min-height: 200px;
          height: auto;
          white-space: pre-wrap;
        }

        .textArea:focus {
          border: 2px solid $niidl-scarlet;
        }

        .selectProjectType {
          padding-top: 0.625rem;
          padding-bottom: 0.625rem;
          padding-left: 0;
          padding-right: 0;
          width: 100%;
          font-size: 0.875rem;
          color: #6b7280;
          background-color: transparent;
          border-style: none;
          border-bottom-style: solid;
          border-bottom-width: 1px;
          border-bottom-color: #e5e7eb;
          color: #54585e;
          border-color: #4b5563;
          outline: none;
          box-shadow: none;
        }

        .selectProjectType:focus {
          border-color: $niidl-scarlet;
        }

        .submitButton {
          align-self: flex-end;
          margin: 24px 24px 0 0;
          padding: 12px;
          border: 2px solid transparent;
          background: linear-gradient(
                to bottom,
                $background-rgba,
                $background-rgba
              )
              padding-box,
            $niidl-gradient-to-bottom border-box;
          color: $foreground-rgba;
          border-radius: $border-radius-s;
          cursor: pointer;
          width: min-content;

          &:hover {
            background: $niidl-gradient-to-bottom padding-box,
              $niidl-gradient-to-bottom border-box;
            color: $white-100;
            box-shadow: $box-shadow;
            transition: box-shadow 0.15s ease-in-out;
          }
        }
      }
    }
  }
}
